<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">

    <title>tail/f/<%= file.id %></title>

    <link href="/tail/bootstrap/css/bootstrap.min.css" 
        rel="stylesheet">
    <link href="/tail/bootstrap/css/bootstrap-theme.min.css" 
        rel="stylesheet" />
    <link href="/tail/styles/main.css"
        rel="stylesheet" />

    <style>
    </style>
  </head>
  
  <body>
<!-- Navbar -->
<div class="navbar navbar-fixed-top">

  <ul class="nav navbar-nav">

    <li class="brand"><a class="brand" href="/tail">TallTail</a></li>

    <li class="dropdown">
        <a href="#" 
            class="dropdown-toggle"
            data-toggle="dropdown">
            <span class="glyphicon glyphicon-folder-open"></span> 
            Available Files
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <% files.forEach(function(file, i, arr){ %>
                <li>
                  <a href="/tail/f/<%= file %>">
                    <span class="glyphicon glyphicon-file"></span> 
                    <%= file %>
                  </a>
                </li>
            <% }) %>
        </ul>
    </li><!-- file dropdown -->

    <li class="dropdown">
        <a href="#"
            class="dropdown-toggle"
            data-toggle="dropdown">
            <span class="glyphicon glyphicon-filter"></span> 
            Filters
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" id="filter-list">
          <li role="presentation" class="divider"></li>
          <li><a id="new-filter-btn">
            <span class="glyphicon glyphicon-plus"></span> 
            New Filter
          </a></li>
        </ul>
    </li>
    </li> <!-- filter dropdown -->

    <li class="dropdown">
        <a href="#"
            class="dropdown-toggle"
            data-toggle="dropdown">
            <span class="glyphicon glyphicon-list-alt"></span> 
            Highlight
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a id="new-highlight-btn">
            <span class="glyphicon glyphicon-plus"></span> 
            New Highlighter
          </a></li>
        </ul>
    </li>
    </li> <!-- highlight dropdown -->

    <li><p class="navbar-text"><%= file.path %></p></li>
  </ul>
  
</div><!-- navbar -->

<div id="tail"><div class="spacer">&nbsp;</div></div>

<div id="status">Lines: <span id="linecount">0</span></div>

    <script src="/tail/jquery/jquery-1.8.1.min.js"></script>
    <script src="/tail/bootstrap/js/bootstrap.js"></script>
    <script src="/tail/socket.io/socket.io.js"></script>
    <script src="/tail/javascript/tail.js"></script>

    <script>
        var tailer = new Tailer();
        tailer.tail('<%= file.id %>');
    </script>
  </body>

</html>

